---
- name: install nextcloud ppa
  become: yes
  apt_repository:
    repo: ppa:nextcloud-devs/client

- name: ensure nextcloud-client
  become: yes
  package:
    name: "nextcloud-client"
    state: latest

