---
- name: Download H2O package
  get_url:
    url: 'https://h2o-release.s3.amazonaws.com/h2o/rel-wright/5/h2o-3.20.0.5.zip'
    dest: /tmp/h2o-3.20.0.5.zip

- name: Clear old H2O installation
  file:
    path: /home/{{ user }}/SDKs/h2o-3.20.0.5
    state: absent

- name: Ensure SDKs directory
  file:
    path: /home/{{ user }}/SDKs
    state: directory

- name: Install H2O
  shell:
    unzip /tmp/h2o-3.20.0.5.zip -d /home/{{ user }}/SDKs/

